res
src/log/*
src/temp/cache/*
src/temp/proxies/*
src/temp/btfj.dat
tests/tmp/*
node_modules
bower_components
src/www/js/*
src/www/css/*
src/www/fonts/*
src/www/images/*
vendor/*
!vendor/others

nbproject
.idea

!.gitignore
!.gitkeep
!.htaccess
!web.config
src/app/config/config.local.neon
