{define global-actions}
	<a n:href="new!" class="ajax btn btn-primary btn-xs">New</a>
{/define}

{define col-name}
	<td>
		{$row->name}
	</td>
{/define}

{define col-info}
	<td>
		{$row->info}
	</td>
{/define}

{define col-parent}
	<td>
		{$row->parent ? $row->parent->name : '--'}
	</td>
{/define}
