<div class="container-fluid">
	<div class="row">
		<div class="col-sm-{$formWidth}">
			<h2>{$title}</h2>
			{control form}
		</div>
		<div class="col-sm-{$mapWidth}">
			<div id="lc_map"></div>
		</div>
	</div>
</div>

